.jumbotron {
  padding-top: 5rem;
  background-color: #cfeafd;
}

#project {
  /*padding-top: 2rem;*/
  background-color: #cfeafd;
}

section {
  padding-top: 6rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
